body{
	margin: 0px;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	background-color: #1777FF;
}
.back_span{
	margin-left: 10px;
}
.topTit_div{
	text-align:center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	margin-top: -40px;
}
.logo_img{
	width: 100%;
}
.shopName_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
}
.repuImg_div{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.repu1_img{
	width: 20px;
	height: 20px;
	margin-left: 100px;
}
.repu2_img,.repu3_img,.repu4_img,.repu5_img{
	width: 20px;
	height: 20px;
}
.repuImg_div .score_span{
	color:#666;
	margin-top: -3px;
	margin-left: 5px;
	position: absolute;
}
.line_div{
	width: 90%;
	height: 1px;
	margin:0 auto;
	margin-top:5px;
	background-color: #F2F2F2;
}
.shopAddress_div,.state_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.shopAddress_img{
	width: 20px;
	height: 25px;
	margin-top: 10px;
	margin-left: 8px;
	position: absolute;
}
.shopAddress_span{
	color: #656565;
	margin-left: 35px;
}
.state_img{
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 5px;
	position: absolute;
}
.state_span{
	color: #999;
	margin-left: 35px;
}
.gxhykxx_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-left: 8px;
}
.tcName_div,.vipType_div,.vipPrice_div,.discPrice_div{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.tcName_img,.vipType_img,.vipPrice_img,.discPrice_img{
	width: 20px;
	height: 25px;
	margin-top: 3px;
	margin-left: 8px;
	position: absolute;
}
.tcName_span,.vipType_span,.vipPrice_span,.discPrice_span{
	color: #656565;
	margin-left: 35px;
	font-size: 12px;
}
.consumeCount_span{
	color: #656565;
	margin-left: 15px;
	font-size: 12px;
}
.wyzr_div{
	width:60px;
	height:20px;
	line-height:20px;
	margin-top:-25px;
	margin-left:280px;
	text-align:center;
	color:#fff;
	background-color:#03A6FF;
	font-size:12px;
}
.describe_div{
	margin-left: 5px;color: #999;font-size: 12px;margin-top: 10px;
}