body{
	margin: 0px;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.logo_div{
	width: 95%;
	margin: 5px auto;
}
.logo_img{
	width: 100%;
	border-radius:5px;
}
.row_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: auto;
}
.shopName_div{
	font-weight: bold;
}
.repuImg_div{
	width: 95%;
	height: 25px;
	line-height: 25px;
	margin: auto;
}
.repu1_img,.repu2_img,.repu3_img,.repu4_img,.repu5_img{
	width: 20px;
	height: 20px;
}
.repuImg_div .score_span{
	color:#FD6104;
	margin-top: -3px;
	margin-left: 5px;
	font-weight: bold;
	position: absolute;
}
.state_div,.shopAddress_div,.tcName_div{
	font-size: 12px;
}
.tcName_span{
	font-size: 13px;
	font-weight: bold;
}
.openTime_span{
	margin-left: 15px;
}
.line_div{
	width: 95%;
	height: 1px;
	margin:5px auto 0;
	background-color: #F2F2F2;
}
.space_div{
	width: 100%;
	height: 10px;
	background-color: #EAE9EF;
}
.tcType_div{
	color: #FD6104;
	font-size: 12px;
	font-weight: bold;
}
.gxhykxx_div{
	font-weight: bold;
}
.consumeCount_span{
	color: #FD6104;
	margin-left: 35px;
}
.discPrice_span{
	color: #FD6104;
	margin-left: 65px;
}
.wyzr_div{
	width:75px;
	height:25px;
	line-height:25px;
	margin-top:-35px;
	margin-left:280px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background-color:#03A6FF;
	border-radius:15px; 
}
.describe_div{
	width: 95%;
	margin:10px auto 20px;
	font-size: 12px;
}
.yhpj_div{
	width: 95%;
	margin: auto;
}
.yhpj_div .tit_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
}