body{
	margin: 0;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.title_div{
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
	font-size: 15px;
	font-weight: bold;
}
.content_div{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 13px;
}
.createTime_div{
	height: 40px;
	line-height: 40px;
	margin-right: 20px;
	margin-left: 20px;
	color:#999;
	font-size: 13px;
	font-weight: bold;
}