body{
	margin: 0px;
	background-color: #fff;
}

.map_bg_div{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.map_bg_div .window_div{
	width:100%;height:520px;margin:30px auto;background-color: #fff;
}
.map_bg_div .close_span{
	float: right;margin-right: 20px;font-size: 25px;cursor: pointer;
}
.map_bg_div .map_div{
	width:100%;height:400px;
}
.map_bg_div .attr_div{
	width: 100%;height: 40px;line-height: 40px;
}
.map_bg_div .attr_div .key_span{
	color: #000;
	margin-left: 20px;
}
.map_bg_div .attr_div .longitude_inp,.map_bg_div .attr_div .latitude_inp{
	width: 100px;
	margin-left: 15px;
}
.map_bg_div .attr_div .shopAdd_inp{
	width: 200px;
	margin-left: 15px;
}

.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.main_div{
	width:220px;
	margin: 10px auto 0;
}
.userName_div,.password_div,.password1_div,.shopName_div,.shopAddress_div{
	width: 220px;
    height: 48px;
    border-bottom: 5px solid #eee;
}
.logo_div,.yyzz_div{
	width: 220px;
    height: 270px;
    margin: 10px auto 0;
    border-bottom: 3px solid #eee;
}
.upLoBut_div,.upYyzzBut_div{
	width: 120px;
	height: 30px;
	line-height:30px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
	border-radius:5px;
}
.logo_img,.yyzz_img{
	width: 220px;
	height:220px;
	margin-top: 10px;
}
.trade_div{
	width: 220px;
    height: 30px;
    margin: 10px auto 0;
    border-bottom: 3px solid #eee;
}
.userName_inp, .password_inp,.password1_inp,.shopName_inp,.shopAddress_inp {
	width:96%;
    height: 48px;
    padding-left: 10px;
    color:#666;
    border: 0;
}
.trade_cbb{
	width:100%;
    height: 30px;
    padding-left: 10px;
    color:#666;
    border: 0;
}
.submitBut_div{
	width:220px;
	height:40px;
	line-height:40px;
	margin:25px auto;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
	border-radius:5px;
}