body{
	margin: 0px;
	background-color: #fff;
}

.map_bg_div{
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.65);
	position: fixed;
	display: none;
	z-index: 1001;
}
.map_bg_div .window_div{
	width:100%;
	height:520px;
	margin:30px auto;
	background-color: #fff;
}
.map_bg_div .close_span{
	float: right;
	margin-right: 20px;
	font-size: 25px;
	cursor: pointer;
}
.map_bg_div .map_div{
	width:100%;
	height:400px;
}
.map_bg_div .attr_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.map_bg_div .attr_div .key_span{
	color: #000;
	margin-left: 20px;
}
.map_bg_div .attr_div .longitude_inp,.map_bg_div .attr_div .latitude_inp{
	width: 100px;
	margin-left: 15px;
}
.map_bg_div .attr_div .shopAdd_inp{
	width: 200px;
	margin-left: 15px;
}

.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.main_div{
	width:90%;
	margin: 10px auto 0;
}
.attr_div{
	width: 100%;
    height: 48px;
    line-height: 48px;
    border-bottom: 3px solid #eee;
}
.attr_div .key_div{
	width:30%;
    height: 48px;
    margin-left:5px;
    color:#666;
    text-align: left;
}
.logo_div .key_div,.yyzz_div .key_div{
	width:30%;
    height: 210px;
    margin-left:5px;
    color:#666;
    text-align: left;
}
.attr_div .val_inp{
	width:60%;
    height: 30px;
    margin-top:-40px;
    margin-right:5px;
    float:right;
    color:#666;
    text-align: right;
    border: 0;
}
.attr_div .val_div{
	width:60%;
    height: 48px;
    margin-top:-48px;
    margin-right:5px;
    float:right;
    color:#666;
    text-align: right;
}
.logo_div,.yyzz_div{
	width: 100%;
	height: 210px;
    line-height: 210px;
    border-bottom: 3px solid #eee;
}
.logo_div .logo_img_div,.yyzz_div .yyzz_img_div{
	width: 150px;
	height: 210px;
	margin-top:-210px;
	margin-right:5px;
	float: right;
}
.upLoBut_div,.upYyzzBut_div{
	width: 150px;
	height: 30px;
	line-height:30px;
	margin-top:10px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
	border-radius:5px;
}
.logo_div .logo_img,.yyzz_div .yyzz_img{
	width: 150px;
	height:150px;
	margin-top: 10px;
}
.attr_div .trade_cbb{
    width:100%;
    height: 30px;
    margin-top:10px;
    float:right;
    color:#666;
    text-align: right;
    border: 0;
}
.submitBut_div{
	width:95%;
	height:40px;
	line-height:40px;
	margin:10px auto;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
	border-radius:5px;
}