body{
	margin: 0px;
	background-color: #EDEDED;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.shopInfo_div{
	width: 100%;
	height: 125px;
	background-color: #fff;
}
.logo_img{
	width:70px;
	height:70px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius:5px; 
}
.shopName_span{
	width: 200px;
	margin-top: 22px;
	margin-left: 16px;
	font-weight:bold;
	font-size: 17px;
	position: absolute;
}
.shopAddress_div{
	width:220px;
	height:50px;
	margin-top: -30px;
	margin-left: 106px;
	color:#7F7F7F;
	font-size: 15px;
	word-break:break-all;
	position: absolute;
	overflow-y: scroll;
}
.but_div{
	height:50px;
	line-height:50px; 
	font-size: 15px;
	background-color: #fff;
}

.fwl_div{
	margin-top: 10px;
	border-bottom: #eee solid 1px;
}
.xxzx_div,.qhzh_div,.exit_div{
	margin-top: 10px;
}
.but_div .tit_span,.but_div .txt_span{
	margin-left: 50px;
}
.but_div .val_span,.but_div .val_div{
	float: right;
	margin-right: 20px;
}
.but_div .repu_img_div{
	margin-top: 5px;
}
.but_div .txt_img{
	width:23px;
	height:23px;
	margin-top:15px;
	margin-left: 15px;
	position: absolute;
}
.but_div .goPage_img{
	width:15px;
	height:30px;
	color:#AFAFAF;
	float: right;
	margin-top:10px;
	margin-right: 15px;
}

.editMerchant_div{
	width:95%;
	height:50px;
	line-height:50px;
	margin:0 auto; 
	margin-top: 10px;
	text-align:center;
	color:#fff; 
	font-size: 20px;
	background-color: #1777FF;
	border-radius:5px;
	/*
	display: none;
	*/
}
.scanQRCode{
	width:95%;
	height:50px;
	line-height:50px;
	margin:0 auto; 
	margin-top: 10px;
	text-align:center;
	color:#fff; 
	font-size: 20px;
	background-color: #1777FF;
	border-radius:5px;
	display: none;
}