body{
	margin: 0px;
	background-color: #F6F6F6;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.type_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow-x: auto;
}
.type_div .all_div{
	width:33%;
	text-align: center;
}
.type_div .dlq_div{
	width:33%;
	text-align: center;
	margin-top: -40px;
	margin-left: 33%;
}
.type_div .ylq_div{
	width:33%;
	text-align: center;
	margin-top: -40px;
	margin-left: 66%;
}
.type_div .selected{
	color: #BD6532;
}
.type_div .unSelected{
	color: #838488;
}
.handleList_div .item_div{
	width:95%;
	height:190px;
	margin:10px auto 0;
	background-color: #fff;
	border-radius: 10px;
}
.handleList_div .item_div .shopName_div{
	height:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
}
.handleList_div .item_div .shopLogo_img{
	width:100px;
	height:100px;
	margin-top:10px;
	margin-left:10px;
}
.handleList_div .item_div .mcName_span{
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.handleList_div .item_div .shareMoney_span,.handleList_div .item_div .consumeMoney{
	font-size:14px;
	margin-top:10px;
	float: right;
	margin-right: 10px;
}
.handleList_div .item_div .ygxfDate_span,.transferList_div .item_div .createTime_span{
	font-size:14px;
	margin-right:10px;
	float: right;
}
.handleList_div .item_div .goBut_div{
	width:80px;
	height:30px;
	line-height:30px;
	float:right;
	margin-right:13px;
	text-align:center;
	color:#7E7E7E;
	font-size:12px;
	border-radius:15px;
	border:#DEDEDE solid 1px;
}
.noData_div{
	text-align:center;
}