body{
	margin: 0px;
	background-color: #EDEDED;
}
.personInfo_div{
	width: 100%;
	height: 140px;
	background-color: #fff;
}
.grxx_span{
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 20px;
	position: absolute;
}
.nickName_span{
	width: 200px;
	margin-top: 55px;
	margin-left: 20px;
	font-size: 20px;
	position: absolute;
}
.qm_span{
	width: 200px;
	margin-top: 90px;
	margin-left: 20px;
	font-size: 20px;
	position: absolute;
}
.headImgUrl_img{
	width:100px;
	height:100px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.but_div{
	height:50px;
	line-height:50px; 
	font-size: 20px;
	background-color: #fff;
}
.ssc_s,.transferCard_s{
	margin-top: 10px;
	border-bottom: #eee solid 1px;
}
.wdfxd_s{
	border-bottom: #eee solid 1px;
}
.smallChange_s,.qhzh_s,.repu_div{
	margin-top: 10px;
}
.but_div .tit_span{
	margin-left: 20px;
}
.but_div .val_span,.but_div .val_div{
	float: right;
	margin-right: 20px;
}
.but_div .txt_span{
	margin-left: 20px;
}
.but_div .goPage_span{
	color:#AFAFAF;
	float: right;
	margin-right: 20px;
}
.repu_img{
	width: 20px;
	height: 20px;
}