body{
	margin: 0px;
	background-color: #EDEDED;
}
.personInfo_div{
	width: 100%;
	height: 125px;
	background-color: #fff;
}
.headImgUrl_img{
	width:70px;
	height:70px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius:5px; 
}
.nickName_span{
	width: 200px;
	margin-top: 22px;
	margin-left: 16px;
	font-weight:bold;
	font-size: 17px;
	position: absolute;
}
.qmTit_span{
	margin-top: 60px;
	margin-left: 16px;
	color:#7F7F7F;
	font-size: 15px;
	position: absolute;
}
.qmVal_span,.qmVal_inp{
	margin-top: 60px;
	margin-left: 65px;
	color:#7F7F7F;
	font-size: 15px;
	position: absolute;
}
.but_div{
	height:50px;
	line-height:50px; 
	font-size: 15px;
	background-color: #fff;
}
.ssc_s,.newCard_s{
	margin-top: 10px;
	border-bottom: #eee solid 1px;
}
.transferCard_s,.wdfxd_s{
	border-bottom: #eee solid 1px;
}
.smallChange_s,.qhzh_s,.repu_div{
	margin-top: 10px;
}
.but_div .tit_span,.but_div .txt_span{
	margin-left: 50px;
}
.but_div .val_span,.but_div .val_div{
	float: right;
	margin-right: 20px;
}
.but_div .repu_img_div{
	margin-top: 5px;
}
.but_div .txt_img{
	width:23px;
	height:23px;
	margin-top:15px;
	margin-left: 15px;
	position: absolute;
}
.but_div .goPage_img{
	width:15px;
	height:30px;
	color:#AFAFAF;
	float: right;
	margin-top:10px;
	margin-right: 15px;
}
.repu_img{
	width: 20px;
	height: 20px;
}