body{
	margin: 0px;
	background-color: #F6F6F6;
}
.canncelVipBg_div{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	display: none;
	z-index: 1;
}
.canncelVip_div{
	width: 100%;
	height: 450px;
	bottom:0;
	position: fixed;
	background-color: #fff;
}
.canncelVip_div .close_span{
	float: right;
	margin-top:8px; 
	margin-right:10px; 
	color: #ccc;
}
.canncelVip_div .title_div{
	width: 100%;
	height:40px;
	line-height:40px;
	color: #333;
	text-align: center;
	margin-top: 15px;
}
.canncelVip_div .tiShi_span{
	margin-left: 30px;
	color: #959595;
}
.canncelVip_div .space_div{
	width: 100%;
	height:20px;
}
.canncelVip_div .content_div{
	width:350px;
	margin: 0 auto;
	border: #A9A9A9 solid 1px;
}
.canncelVip_div .content_ta{
	width:100%;
	height:250px;
	font-size: 22px;
}
.canncelVip_div .but_div{
	width: 350px;
	height: 50px;
	margin: 0 auto;
	margin-top: 20px;
}
.canncelVip_div .zbqx_div{
	width: 175px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	color:#fff;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	background-color: #FD9F01;
}
.canncelVip_div .qdqx_div{
	width: 175px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	color:#fff;
	margin-top:-50px;
	margin-left:175px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	background-color: #FF6E01;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.type_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	overflow-x: auto;
}
.type_div .all_div{
	width:20%;
	text-align: center;
}
.type_div .dxf_div{
	width:20%;
	text-align: center;
	margin-top: -40px;
	margin-left: 20%;
}
.type_div .yxf_div{
	width:20%;
	text-align: center;
	margin-top: -40px;
	margin-left: 40%;
}
.type_div .pj_div{
	width:20%;
	text-align: center;
	margin-top: -40px;
	margin-left: 60%;
}
.type_div .yqx_div{
	width:20%;
	text-align: center;
	margin-top: -40px;
	margin-left: 80%;
}
.type_div .zrk_div{
	width:20%;
	text-align: center;
	margin-top: -40px;
	margin-left: 100%;
}
.type_div .selected{
	color: #BD6532;
}
.type_div .unSelected{
	color: #838488;
}
.shareList_div .item_div,.transferList_div .item_div{
	width:95%;
	height:190px;
	margin:10px auto 0;
	background-color: #fff;
	border-radius: 10px;
}
.shareList_div .item_div .shopName_div,.transferList_div .item_div .shopName_div{
	height:40px;
	line-height:40px;
	font-size:15px;
	font-weight:bold;
	margin-left:20px;
}
.shareList_div .item_div .shopLogo_img,.transferList_div .item_div .shopLogo_img{
	width:100px;
	height:100px;
	margin-top:10px;
	margin-left:10px;
}
.shareList_div .item_div .scName_span,.transferList_div .item_div .scName_span{
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.shareList_div .item_div .shareMoney_span,.transferList_div .item_div .shareMoney_span{
	font-size:14px;
	margin-top:10px;
	float: right;
	margin-right: 10px;
}
.shareList_div .item_div .ygxfDate_span,.transferList_div .item_div .createTime_span{
	font-size:14px;
	margin-right:10px;
	float: right;
}
.shareList_div .item_div .pjBut_div,.shareList_div .item_div .qxBut_div,.shareList_div .item_div .delBut_div{
	width:80px;
	height:30px;
	line-height:30px;
	float:right;
	margin-right:13px;
	text-align:center;
	color:#D59663;
	font-size:12px;
	border-radius:15px;
	border:#D59663 solid 1px;
}
.shareList_div .item_div .goBut_div,.transferList_div .item_div .goBut_div{
	width:80px;
	height:30px;
	line-height:30px;
	float:right;
	margin-right:13px;
	text-align:center;
	color:#7E7E7E;
	font-size:12px;
	border-radius:15px;
	border:#DEDEDE solid 1px;
}
.noData_div{
	text-align:center;
}
.commentList_div .item_div{
	margin-top:10px;
	background-color: #fff;
}
.commentList_div .item_div .createTime_div{
	width:95%;
	height: 30px;
	line-height: 30px;
	color:#BABABA;
	margin-top:5px;
	margin:0 auto;
	position: relative;
}
.commentList_div .item_div .content_div{
	width:95%;
	line-height: 30px;
	color:#000;
	font-size:18px;
	margin-top:35px;
	margin:0 auto;
	position: relative;
}
.commentList_div .item_div .vipInfo_div{
	width:95%;
	height: 163px;
	margin-top:5px;
	margin:0 auto;
	background-color: #F6F6F6;
	position: relative;
	border-radius: 10px;
}
.commentList_div .item_div .shopLogo_img{
	width:100px;
	height:100px;
	margin-top:10px;
	margin-left:10px;
}
.commentList_div .item_div .shopName_div{
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 20px;
}
.commentList_div .item_div .scName_span{
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.commentList_div .item_div .shareMoney_span{
	font-size:14px;
	margin-top:10px;
	float: right;
	margin-right: 10px;
}
.commentList_div .item_div .goBut_div {
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-right: 13px;
    text-align: center;
    color: #7E7E7E;
    font-size: 12px;
    border-radius: 15px;
    border: #DEDEDE solid 1px;
}
.commentList_div .item_div .space_div{
	width:100%;
	height:10px;
}