body{
	margin: 0px;
	background-color: #F8F8FA;
}
.chooseBg_div{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	display: none;
	z-index: 1;
}
.choose_div{
	width: 300px;
	height: 100%;
	float:right;
	background-color: #fff;
}
.tradeTit_div{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
}
.tradeList_tab,.fxlList_tab{
	width: 100%;
	text-align: center;
}
.jlTit_div,.fxlTit_div{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	text-align: center;
}
.jlList_tab,.fxlList_tab{
	width: 100%;
	text-align: center;
}
.jlList_tab td,.fxlList_tab td{
	width:48%;
}
.jlList_tab .item_div,.fxlList_tab .item_div{
	width:130px;
	height:40px;
	line-height:40px;
	font-size:15px;
	color:#3C3C3C;
	margin:0 auto;
	border:#DEDEDE solid 1px;
}
.top_div{
	width:100%;
	height:50px;
	background-color:#1B82D1;
}
.location_span{
	font-size:15px;
	color:#fff;
	margin-top: 15px;
	margin-left: 10px;
	position: absolute;
}
.search_div{
	width:75%;
	height:30px;
	margin-top: 10px;
	margin-left: 13%;
	background-color:#fff;
	position: absolute;
	border-radius:5px;
}
.search_img{
	width:20px;
	height:20px;
	margin-top: 8px;
	margin-left: 5px;
}
.tradeName_inp{
	width:72%;
	height:28px;
	margin-left: 5px;
	border:0px;
	position: absolute;
}
.searchBut_div{
	width: 40px;
	height: 28px;
	line-height: 28px;
	margin-top: 1px;
	margin-right: 2px;
	color:#3870C3;
	font-size: 15px;
	text-align:center; 
	float: right;
	background-color: #D2E3FF;
	border-radius:5px;
}
.trade_div{
    transition:all .6s;
  	height: 240px;
  	font-size:12px;
}
.trade_tab{
	width:100%;
	text-align:center;
}
.trade_tab tr{
	height:80px;
}
.trade_tab td{
	width:20%;
}
.trade_tab img{
	width:30px;
	height:30px;
	margin-left: -15px;
	position: absolute;
}
.trade_tab div{
	margin-top:35px;
	text-align:center;
}
.pager_div{
	width: 120px;
	height: 8px;
	margin-top:10px;
	margin:0 auto;
}
.pager_div .item{
	width: 40px;
	height: 8px;
}
.pager_div .selected{
	background-color: #1B81D3;
}
.pager_div .unSelected{
	background-color: #EEEEEE;
}
.activity_div{
	width:97%;
	margin:10px auto 0;
	overflow: hidden;
}
.activity_list_div{
	transition: all .6s;
	height: 100px;
}
.activity_div .item_div{
	width:100%;
	height:96px;
	background-color:#fff;
	background-repeat:no-repeat; 
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	position: absolute;
}
.activity_div .item_div .right_img{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.activity_div .sjmfty_div{
	margin-left:102%;
}
.activity_div .dzjk_div{
	margin-left:204%;
}
.activity_div .qdljf_span,.activity_div .mftyk_span,.activity_div .mfdzjk_span{
	width:190px;
	font-size:20px;
	margin-top: 20px;
	margin-left: 30px;
	font-weight:bold;
	position: absolute;
}
.activity_div .dhhl_span,.activity_div .mfdd_span,.activity_div .dpfp_div{
	width:190px;
	font-size:12px;
	margin-top: 50px;
	margin-left: 30px;
	color:#989898;
	position: absolute;
}
.newShareInfo_div{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	font-weight: bold;
	font-family:'Microsoft YaHei';
	background-color: #fff;
}
.newShareInfo_span{
	margin-top:3px;
	margin-left:10px;
	position: absolute;
}
.order_div{
	width:100%;
	height:30px;
	line-height:30px;
	font-size:14px;
	background-color: #fff;
}
.order_div .zhpx_span{
	margin-left:10px;
	color: #00a7ff;
}
.order_div .jl_span{
	margin-left:20px;
}
.order_div .fxl_span{
	margin-left:20px;
}
.order_div .sx_span{
	margin-right:20px;
	float: right;
}
.vipList_div{
	width: 97%;
	margin: auto;
}
.vipList_div .item{
	width:100%;
	height:110px;
	margin-top: 7px;
	background-color: #fff;
	border-radius: 5px;
}
.vipList_div .item .shopLogo_img{
	width:90px;
	height:90px;
	margin-top:10px;
	margin-left:10px;
	border-radius: 5px;
}
.vipList_div .item .shopName_span{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.vipList_div .item .consumeCount_span{
	font-size:12px;
	margin-top:35px;
	margin-left:10px;
	color:#7F7F7F;
	position: absolute;
}
.vipList_div .item .shareMoney_span{
	font-size:11px;
	margin-top:60px;
	margin-left:10px;
	color:#B1B1B1;
	position: absolute;
}
.vipList_div .item .describe_span{
	font-size:10px;
	margin-top:85px;
	margin-left:10px;
	color:#DE792B;
	background-color:#FEF4EB;
	position: absolute;
}