body{
	margin: 0px;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.logo_div{
	width: 95%;
	margin: 5px auto;
}
.logo_img{
	width: 100%;
	border-radius:5px;
}
.row_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: auto;
}
.shopName_div{
	font-weight: bold;
}
.repuImg_div{
	width: 95%;
	height: 25px;
	line-height: 25px;
	margin: auto;
}
.repu1_img,.repu2_img,.repu3_img,.repu4_img,.repu5_img{
	width: 20px;
	height: 20px;
}
.repuImg_div .score_span{
	color:#FD6104;
	margin-top: -3px;
	margin-left: 5px;
	font-weight: bold;
	position: absolute;
}
.state_div,.scName_div{
	font-size: 12px;
}
.shopAddress_div{
	width: 95%;
	line-height:25px;
	margin:10px auto;
	font-size: 12px;
}
.scName_span{
	font-size: 13px;
	font-weight: bold;
}
.openTime_span{
	margin-left: 15px;
}
.line_div{
	width: 95%;
	height: 1px;
	margin:5px auto 0;
	background-color: #F2F2F2;
}
.space_div{
	width: 100%;
	height: 10px;
	background-color: #EAE9EF;
}
.scType_div{
	color: #FD6104;
	font-size: 12px;
	font-weight: bold;
}
.endTime_div{
	color: #FD6104;
	font-size: 12px;
}
.gxhykxx_div{
	font-weight: bold;
}
.consumeCount_span{
	color: #FD6104;
	margin-left: 35px;
}
.discPrice_span{
	color: #FD6104;
	margin-left: 65px;
}
.wyfx_div{
	width:75px;
	height:25px;
	line-height:25px;
	margin-top:-35px;
	margin-left:280px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background-color:#03A6FF;
	border-radius:15px; 
}
.describe_div{
	width: 95%;
	margin:10px auto 20px;
	font-size: 12px;
}
.yhpjTit_div{
	width: 95%;
	height: 40px;
	line-height: 40px;
	margin: auto;
}
.yhpjTit_div .tit_span{
	font-weight: bold;
}
.yhpjTit_div .pjBut_div{
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	float: right;
	margin-top: 7px;
	margin-right: 10px;
	background-color: #DE792B;
	border-radius: 5px;
}
.yhpjList_div{
	width: 95%;
	margin: 20px auto;
}
.yhpjList_div .item_div{
	width: 100%;
	margin-top: 20px;
}
.yhpjList_div .item_div .pjzhiu_img{
	width: 35px;
	height: 35px;
}
.yhpjList_div .item_div .pjznn_span{
	margin-top: -5px;
	margin-left: 18px;
	font-size: 15px;
	position: absolute;
}
.yhpjList_div .item_div .createTime_span{
	margin-top: 20px;
	margin-left: 18px;
	color: #999;
	font-size: 12px;
	position: absolute;
}
.yhpjList_div .item_div .content_div{
	margin-top: 10px;
	margin-left: 53px;
	padding-bottom: 10px;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}
.yhpjList_div .noData_div{
	text-align:center;
}