body{
	margin: 0px;
	font-size: 16px;
	background-color: #F6F6F6;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.rn_div,.phone_div,.qq_div,.wxNo_div{
	width:100%;
	height: 40px;
	line-height: 40px;
	margin-top: 5px;
	background-color: #fff;
}
.rn_div .tit_div,.phone_div .tit_div,.qq_div .tit_div,.wxNo_div .tit_div{
	width: 35%;
	height: 40px;
	padding-left: 20px;
}
.rn_div .rn_inp_div,.phone_div .phone_inp_div,.qq_div .qq_inp_div,.wxNo_div .wxNo_inp_div{
	height: 40px;
	margin-left: 35%;
	margin-top: -40px;
}
.rn_div .rn_inp,.phone_div .phone_inp,.qq_div .qq_inp,.wxNo_div .wxNo_inp{
	width: 200px;
	height: 25px;
    line-height: 25px;
    margin-top: 5px;
    font-size: 15px;
    border: 0;
}
.addSR_div .biTian_span{
	color: #f00;
	float: right;
	margin-right: 30px;
}
.bottom_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-top:#eee solid 1px; 
	background-color: #fff;
	bottom: 0;
	position: fixed;
}
.moneySign_span{
	color:#DE792B;
	margin-left: 10px;
}
.money_span{
	color:#DE792B;
	font-size: 23px;
	font-weight: bold;
}
.payBut_div{
	width: 100px;
	height: 35px;
	line-height: 35px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	text-align:center; 
	float: right;
	margin-top:7px; 
	margin-right:20px; 
	background-color: #1777FF;
	border-radius:5px;
}