body{
	margin: 0px;
	font-size: 16px;
	background-color: #F6F6F6;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.phone_div,.yglkDate_div{
	width:100%;
	height: 50px;
	margin-top: 5px;
	background-color: #fff;
}
.phone_div .tit_div,.yglkDate_div .tit_div{
	width: 35%;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
.phone_div .phone_inp_div,.yglkDate_div .yglkd_inp_div{
	height: 50px;
	margin-left: 35%;
	margin-top: -50px;
}
.phone_div .phone_inp{
	width: 200px;
	height: 25px;
    line-height: 25px;
    margin-top: 12px;
    font-size: 15px;
    border: 0;
}
.pay_div{
	width:95%;
	height:40px;
	line-height:40px;
	margin:25px auto 0;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
	border-radius:5px;
}