body{
	margin: 0px;
	background-color: #fff;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.hyxx_div{
	margin-top: 10px;
	margin-bottom: 20px;
}
.gmxz_div{
	margin-bottom: 20px;
}
.hyxx_div .title_div,.gmxz_div .title_div{
	width:95%;
	height:40px;
	line-height:40px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold;
}
.hyxx_div .content_div,.gmxz_div .content_div{
	width: 95%;
	margin:10px auto 0;
	font-size: 12px;
	white-space:normal;
	word-break:break-all;
}
.space_div{
	height: 50px;
}
.bottom_div{
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-top:#eee solid 1px; 
	background-color:#fff;
	bottom: 0;
	position: fixed;
}
.moneySign_span{
	color:#DE792B;
	margin-left: 10px;
}
.money_span{
	color:#DE792B;
	font-size: 23px;
	font-weight: bold;
}
.wtyBut_div{
	width: 100px;
	height: 35px;
	line-height: 35px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	text-align:center; 
	float: right;
	margin-top:7px; 
	margin-right:20px; 
	background-color: #999;
	border-radius:5px;
}
.tybgmBut_div{
	width: 100px;
	height: 35px;
	line-height: 35px;
	font-size:15px;
	font-weight:bold;
	color:#fff;
	text-align:center; 
	float: right;
	margin-top:7px; 
	margin-right:20px; 
	background-color: #DE792B;
	border-radius:5px;
	display: none;
}