body{
	margin: 0px;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	background-color: #1777FF;
}
.back_span{
	margin-left: 10px;
}
.topTit_div{
	text-align:center;
	width: 200px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	margin-top: -40px;
}
.logo_img{
	width: 100%;
}
.shopName_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
}
.repuImg1_div{
	width: 100%;
	height: 25px;
	line-height: 25px;
}
.repu1_img1{
	width: 20px;
	height: 20px;
	margin-left: 100px;
}
.repu2_img1,.repu3_img1,.repu4_img1,.repu5_img1{
	width: 20px;
	height: 20px;
}
.repuImg1_div .score_span{
	color:#666;
	margin-top: -3px;
	margin-left: 5px;
	position: absolute;
}
.line_div{
	width: 90%;
	height: 1px;
	margin:0 auto;
	margin-top:5px;
	background-color: #F2F2F2;
}
.shopAddress_div,.state_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.shopAddress_img{
	width: 20px;
	height: 25px;
	margin-top: 10px;
	margin-left: 8px;
	position: absolute;
}
.shopAddress_span{
	color: #656565;
	margin-left: 35px;
}
.state_img{
	width: 25px;
	height: 25px;
	margin-top: 10px;
	margin-left: 5px;
	position: absolute;
}
.state_span{
	color: #999;
	margin-left: 35px;
}
.gxhykxxTit_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-left: 8px;
}
.gxhykxx_div{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.gxhykxx_img{
	width: 20px;
	height: 25px;
	margin-top: 3px;
	margin-left: 8px;
	position: absolute;
}
.vipName_span{
	color: #656565;
	margin-left: 35px;
	font-size: 12px;
}
.consumeCount_span{
	color: #656565;
	margin-left: 15px;
	font-size: 12px;
}
.wyzl_div{
	width:60px;
	height:20px;
	line-height:20px;
	margin-top:-25px;
	margin-left:280px;
	text-align:center;
	color:#fff;
	background-color:#03A6FF;
	font-size:12px;
}
.kzxyd_div{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.kzxyd_img{
	width: 25px;height: 25px;margin-top: 3px;margin-left: 5px;position: absolute;
}
.kzxyd_span{
	color: #999;margin-left: 35px;font-size: 12px;
}
.repu1_img2{
	width: 20px;height: 20px;margin-top: 5px;margin-left: 20px;position: absolute;
}
.repu2_img2{
	width: 20px;height: 20px;margin-top: 5px;margin-left: 40px;position: absolute;
}
.repu3_img2{
	width: 20px;height: 20px;margin-top: 5px;margin-left: 60px;position: absolute;
}
.repu4_img2{
	width: 20px;height: 20px;margin-top: 5px;margin-left: 80px;position: absolute;
}
.repu5_img2{
	width: 20px;height: 20px;margin-top: 5px;margin-left: 100px;position: absolute;
}
.kzxyd_div .score_span{
	color:#666;margin-left: 125px;position: absolute;
}
.describe_div{
	margin-left: 5px;color: #999;font-size: 12px;margin-top: 10px;
}