body{
	margin: 0px;
	background-color: #F6F6F6;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #EC4149;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.shopInfo_div{
	height:675px;
	font-size: 20px;
	background-color: #fff;
}
.sjxx_div,.yyzz_div{
	height:40px;
	line-height:40px;
}
.sjxx_span,.yyzz_span{
	margin-left: 20px;
}
.logo_div,.yyzzImg_div{
	height:200px;
	text-align: center;
}
.logo_img,.yyzz_img{
	width: 200px;
	height:200px;
	margin: 0 auto;
}
.sjmc_div{
	height:50px;
	line-height:50px;
}
.sjmcTit_span{
	margin-left: 20px;
}
.shopName_span{
	float: right;
	margin-right: 20px;
}
.sjdz_div{
	height:80px;
	line-height:40px;
	padding-left: 20px;
	padding-right: 20px;
}
/*
.sjdzTit_span{
	margin-left: 20px;
}
.shopAddress_span{
	float: right;
	margin-right: 20px;
}
*/
.fwl_div{
	height:50px;
	line-height:50px;
}
.fwlTit_span{
	margin-left: 20px;
}
.visitCount_span{
	float: right;
	margin-right: 20px;
}
.editMerchant_div{
	width:95%;
	height:50px;
	line-height:50px;
	margin:0 auto; 
	margin-top: 10px;
	text-align:center;
	color:#fff; 
	font-size: 20px;
	background-color: #00f;
	border-radius:5px;
	/*
	display: none;
	*/
}
.scanQRCode{
	width:95%;
	height:50px;
	line-height:50px;
	margin:0 auto; 
	margin-top: 10px;
	text-align:center;
	color:#fff; 
	font-size: 20px;
	background-color: #f00;
	border-radius:5px;
	display: none;
}
.xxzx_div,.qhzh_div,.exit_div{
	width:95%;
	height:50px;
	line-height:50px;
	margin:0 auto; 
	margin-top: 10px;
	text-align:center;
	color:#fff; 
	font-size: 20px;
	background-color: #f00;
	border-radius:5px;
}