body{
	margin: 0px;
	background-color: #F8F8FA;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.trade_tab{
	width:100%;
	margin-top: 10px;
	text-align:center;
  	font-size:12px;
}
.trade_tab tr{
	height:68px;
}
.trade_tab td{
	width:20%;
}
.trade_tab img{
	width:30px;
	height:30px;
	margin-left: -15px;
	position: absolute;
}
.trade_tab div{
	margin-top:35px;
	text-align:center;
}
.rmmd_div{
	width: 100%;
	height:40px;
	line-height:40px;
	font-size:14px;
}
.rmmd_span{
	margin-left: 10px;
}
.hotShopList_div{
	width: 97%;
	margin: auto;
}
.hotShopList_div .item{
	width:100%;
	height:110px;
	margin-top: 7px;
	background-color: #fff;
	border-radius: 5px;
}
.hotShopList_div .item .shopLogo_img{
	width:90px;
	height:90px;
	margin-top:10px;
	margin-left:10px;
	border-radius: 5px;
}
.hotShopList_div .item .shopName_span{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.hotShopList_div .item .vcsd_div{
	height:20px;
	margin-top:-65px;
	margin-left:110px;
}
.hotShopList_div .item .visitCount_span{
	font-size:12px;
	color:#7F7F7F;
}
.hotShopList_div .item .shopDistance_span{
	font-size:12px;
	margin-right:15px;
	float:right;
	color:#7F7F7F;
}
.hotShopList_div .item .sct_div,.hotShopList_div .item .describe_div{
	height:18px;
	margin-top:5px;
	margin-left:110px;
}
.hotShopList_div .item .shareCount_span{
	font-size:12px;
	color:#7F7F7F;
}
.hotShopList_div .item .yysj_span{
	font-size:12px;
	margin-right:15px;
	float:right;
	color:#7F7F7F;
}
.hotShopList_div .item .shopAddress_span{
	font-size:12px;
	color:#7F7F7F;
}