body{
	margin: 0px;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.trade_tab{
	width:100%;
	text-align:center;
  	font-size:12px;
}
.trade_tab tr{
	height:80px;
}
.trade_tab td{
	width:20%;
}
.trade_tab img{
	width:30px;
	height:30px;
	margin-left: -15px;
	position: absolute;
}
.trade_tab div{
	margin-top:35px;
	text-align:center;
}