body{
	margin: 0px;
	background-color: #F8F8FA;
}
.top_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align:center;
	color:#fff;
	background-color: #1777FF;
}
.back_div{
	width: 100%;
	height: 40px;
	line-height: 40px;
	color:#fff;
	margin-top: -40px;
}
.back_span{
	margin-left: 10px;
	position: absolute;
}
.gdhy_div,.rmmd_div{
	width: 100%;
	height:40px;
	line-height:40px;
	color: #919191;
	font-size:13px;
}
.gdhy_span,.rmmd_span{
	margin-left: 10px;
}
.trade_tab{
	width:100%;
	text-align:center;
  	font-size:12px;
}
.trade_tab tr{
	height:68px;
}
.trade_tab td{
	width:20%;
}
.trade_tab img{
	width:30px;
	height:30px;
	margin-left: -15px;
	position: absolute;
}
.trade_tab div{
	margin-top:35px;
	text-align:center;
}
.hotShopList_div{
	width: 97%;
	margin: auto;
}
.hotShopList_div .item{
	width:100%;
	height:110px;
	margin-top: 7px;
	background-color: #fff;
	border-radius: 5px;
}
.hotShopList_div .item .shopLogo_img{
	width:90px;
	height:90px;
	margin-top:10px;
	margin-left:10px;
	border-radius: 5px;
}
.hotShopList_div .item .shopName_span{
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
	position: absolute;
}
.hotShopList_div .item .visitCount_span{
	font-size:12px;
	margin-top:35px;
	margin-left:10px;
	color:#7F7F7F;
	position: absolute;
}
.hotShopList_div .item .shareCount_span{
	font-size:12px;
	margin-top:60px;
	margin-left:10px;
	color:#7F7F7F;
	position: absolute;
}
.hotShopList_div .item .shopAddress_span{
	font-size:12px;
	margin-top:85px;
	margin-left:10px;
	color:#7F7F7F;
	position: absolute;
}