<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.HandleRecordMapper">
 	<select id="getByUuid" resultType="com.cqgVipShare.entity.HandleRecord">
 		select * from handle_record where uuid=#{uuid}
 	</select>
 	<insert id="add" parameterType="com.cqgVipShare.entity.HandleRecord">
 		insert into handle_record
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="uuid!=null">
 				uuid,
 			</if>
 			<if test="mcId!=null">
 				mcId,
 			</if>
 			<if test="openId!=null">
 				openId,
 			</if>
 			<if test="money!=null">
 				money,
 			</if>
 			<if test="realName!=null">
 				realName,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="qq!=null">
 				qq,
 			</if>
 			<if test="wxNo!=null">
 				wxNo,
 			</if>
 			<if test="qrcodeUrl!=null">
 				qrcodeUrl,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="uuid!=null">
 				#{uuid},
 			</if>
 			<if test="mcId!=null">
 				#{mcId},
 			</if>
 			<if test="openId!=null">
 				#{openId},
 			</if>
 			<if test="money!=null">
 				#{money},
 			</if>
 			<if test="realName!=null">
 				#{realName},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="qq!=null">
 				#{qq},
 			</if>
 			<if test="wxNo!=null">
 				#{wxNo},
 			</if>
 			<if test="qrcodeUrl!=null">
 				#{qrcodeUrl},
 			</if>
 		</trim>
 	</insert>
 </mapper>