<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.PageValueMapper">
 	<select id="getCountByOpenId" resultType="java.lang.Integer">
 		select count(*) from page_value where openId=#{openId}
 	</select>
 	<select id="selectByOpenId" resultType="com.cqgVipShare.entity.PageValue">
 		select * from page_value where openId=#{openId}
 	</select>
 	<update id="updateByOpenId" parameterType="com.cqgVipShare.entity.PageValue">
 		update page_value set
		<trim suffixOverrides=",">
			<if test="action!=null">
				action=#{action},
			</if>
			<if test="discount!=null">
				discount=#{discount},
			</if>
			<if test="from!=null">
				`from`=#{from},
			</if>
			<if test="fxzOpenId!=null">
				fxzOpenId=#{fxzOpenId},
			</if>
			<if test="id!=null">
				id=#{id},
			</if>
			<if test="isRead!=null">
				isRead=#{isRead},
			</if>
			<if test="kzOpenId!=null">
				kzOpenId=#{kzOpenId},
			</if>
			<if test="logo!=null">
				logo=#{logo},
			</if>
			<if test="mcId!=null">
				mcId=#{mcId},
			</if>
			<if test="minDeposit!=null">
				minDeposit=#{minDeposit},
			</if>
			<if test="money!=null">
				money=#{money},
			</if>
			<if test="prePage!=null">
				prePage=#{prePage},
			</if>
			<if test="receive!=null">
				receive=#{receive},
			</if>
			<if test="scId!=null">
				scId=#{scId},
			</if>
			<if test="scName!=null">
				scName=#{scName},
			</if>
			<if test="scType!=null">
				scType=#{scType},
			</if>
			<if test="shareMoney!=null">
				shareMoney=#{shareMoney},
			</if>
			<if test="shopId!=null">
				shopId=#{shopId},
			</if>
			<if test="shopName!=null">
				shopName=#{shopName},
			</if>
			<if test="shopAddress!=null">
				shopAddress=#{shopAddress},
			</if>
			<if test="shopLogo!=null">
				shopLogo=#{shopLogo},
			</if>
			<if test="srUuid!=null">
				srUuid=#{srUuid},
			</if>
			<if test="tradeId!=null">
				tradeId=#{tradeId},
			</if>
			<if test="tradeName!=null">
				tradeName=#{tradeName},
			</if>
			<if test="type!=null">
				type=#{type},
			</if>
			<if test="used!=null">
				used=#{used},
			</if>
			<if test="uuid!=null">
				uuid=#{uuid},
			</if>
			<if test="zrzOpenId!=null">
				zrzOpenId=#{zrzOpenId},
			</if>
		</trim>
		where openId=#{openId}
 	</update>
 	<insert id="add" parameterType="com.cqgVipShare.entity.PageValue">
 		insert into page_value
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="openId!=null">
 				openId,
 			</if>
 			<if test="action!=null">
 				action,
 			</if>
 			<if test="discount!=null">
 				discount,
 			</if>
 			<if test="from!=null">
 				`from`,
 			</if>
 			<if test="fxzOpenId!=null">
 				fxzOpenId,
 			</if>
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="isRead!=null">
 				isRead,
 			</if>
 			<if test="kzOpenId!=null">
 				kzOpenId,
 			</if>
 			<if test="logo!=null">
 				logo,
 			</if>
 			<if test="mcId!=null">
 				mcId,
 			</if>
 			<if test="minDeposit!=null">
 				minDeposit,
 			</if>
 			<if test="money!=null">
 				money,
 			</if>
 			<if test="prePage!=null">
 				prePage,
 			</if>
 			<if test="receive!=null">
 				receive,
 			</if>
 			<if test="scId!=null">
 				scId,
 			</if>
 			<if test="scName!=null">
 				scName,
 			</if>
 			<if test="scType!=null">
 				scType,
 			</if>
 			<if test="shareMoney!=null">
 				shareMoney,
 			</if>
 			<if test="shopId!=null">
 				shopId,
 			</if>
 			<if test="shopName!=null">
 				shopName,
 			</if>
 			<if test="shopAddress!=null">
 				shopAddress,
 			</if>
 			<if test="shopLogo!=null">
 				shopLogo,
 			</if>
 			<if test="srUuid!=null">
 				srUuid,
 			</if>
 			<if test="tradeId!=null">
 				tradeId,
 			</if>
 			<if test="tradeName!=null">
 				tradeName,
 			</if>
 			<if test="type!=null">
 				type,
 			</if>
 			<if test="used!=null">
 				used,
 			</if>
 			<if test="uuid!=null">
 				uuid,
 			</if>
 			<if test="zrzOpenId!=null">
 				zrzOpenId,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="openId!=null">
 				#{openId},
 			</if>
 			<if test="action!=null">
 				#{action},
 			</if>
 			<if test="discount!=null">
 				#{discount},
 			</if>
 			<if test="from!=null">
 				#{from},
 			</if>
 			<if test="fxzOpenId!=null">
 				#{fxzOpenId},
 			</if>
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="isRead!=null">
 				#{isRead},
 			</if>
 			<if test="kzOpenId!=null">
 				#{kzOpenId},
 			</if>
 			<if test="logo!=null">
 				#{logo},
 			</if>
 			<if test="mcId!=null">
 				#{mcId},
 			</if>
 			<if test="minDeposit!=null">
 				#{minDeposit},
 			</if>
 			<if test="money!=null">
 				#{money},
 			</if>
 			<if test="prePage!=null">
 				#{prePage},
 			</if>
 			<if test="receive!=null">
 				#{receive},
 			</if>
 			<if test="scId!=null">
 				#{scId},
 			</if>
 			<if test="scName!=null">
 				#{scName},
 			</if>
 			<if test="scType!=null">
 				#{scType},
 			</if>
 			<if test="shareMoney!=null">
 				#{shareMoney},
 			</if>
 			<if test="shopId!=null">
 				#{shopId},
 			</if>
 			<if test="shopName!=null">
 				#{shopName},
 			</if>
 			<if test="shopAddress!=null">
 				#{shopAddress},
 			</if>
 			<if test="shopLogo!=null">
 				#{shopLogo},
 			</if>
 			<if test="srUuid!=null">
 				#{srUuid},
 			</if>
 			<if test="tradeId!=null">
 				#{tradeId},
 			</if>
 			<if test="tradeName!=null">
 				#{tradeName},
 			</if>
 			<if test="type!=null">
 				#{type},
 			</if>
 			<if test="used!=null">
 				#{used},
 			</if>
 			<if test="uuid!=null">
 				#{uuid},
 			</if>
 			<if test="zrzOpenId!=null">
 				#{zrzOpenId},
 			</if>
 		</trim>
 	</insert>
</mapper>