<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.ShareRecordMapper">
 	<select id="getShareRecordByUuid" resultType="com.cqgVipShare.entity.ShareRecord">
 		select * from share_record where uuid=#{uuid}
 	</select>
 	<select id="getSRDetailByUuid" resultType="com.cqgVipShare.entity.ShareRecord">
 		select v.`no` vipNo,v.name vipName,v.phone kzPhone,r.phone,r.shareMoney,r.ygxfDate,r.qrcodeUrl,md.shopName,md.shopAddress,md.logo shopLogo from share_record r left join share_vip v on r.vipId=v.id left join `user` md on v.shopId=md.id where r.uuid=#{uuid}
 	</select>
 	<select id="selectAllShareListByFxzOpenId" resultType="com.cqgVipShare.entity.ShareRecord">
 		(select r.uuid,v.name vipName,r.shareMoney,r.ygxfDate,md.shopName,md.logo shopLogo from share_record r left join share_vip v on r.vipId=v.id left join `user` md on v.shopId=md.id where r.fxzOpenId=#{fxzOpenId})
 		union
 		(select r.uuid,v.name vipName,r.shareMoney,r.ygxfDate,md.shopName,md.logo shopLogo from share_history_record r,capital_flow_record c,share_vip v,`user` md where r.vipId=v.id and v.shopId=md.id and r.fxzOpenId=#{fxzOpenId} and c.srUuid=r.uuid)
 		 order by ygxfDate
 	</select>
 	<select id="selectDXFShareListByFxzOpenId" resultType="com.cqgVipShare.entity.ShareRecord">
 		select r.uuid,v.name vipName,r.shareMoney,r.ygxfDate,md.shopName,md.logo shopLogo from share_record r left join share_vip v on r.vipId=v.id left join capital_flow_record c on r.uuid=c.srUuid left join `user` md on v.shopId=md.id where c.state=${@com.cqgVipShare.entity.CapitalFlowRecord@DXF_STATE} and r.fxzOpenId=#{fxzOpenId} order by ygxfDate 
 	</select>
 	<select id="selectYQXShareListByFxzOpenId" resultType="com.cqgVipShare.entity.ShareRecord">
 		select r.uuid,v.name vipName,r.shareMoney,r.ygxfDate,md.shopName,md.logo shopLogo from share_record r,capital_flow_record c,share_vip v,`user` md where r.vipId=v.id and v.shopId=md.id and r.fxzOpenId=#{fxzOpenId} and c.srUuid=r.uuid and c.state=${@com.cqgVipShare.entity.CapitalFlowRecord@YQX_STATE} order by ygxfDate
 	</select>
 </mapper>