<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.TradeMapper">
 	<select id="selectTradeInt" resultType="java.lang.Integer">
 		select count(*) from trade where 1=1
 		<if test="name!=null">
 		  and name like'%${name}%'
 		</if>
 	</select>
 	<select id="selectTradeList" resultType="com.cqgVipShare.entity.Trade">
 		select * from trade where 1=1
 		<if test="name!=null">
 		  and name like'%${name}%'
 		</if>
 		 limit #{start},#{rows}
 	</select>
	<update id="updateCCPercentById">
		update trade set ccPercent=#{ccPercent} where id=#{id}
	</update>
 	<select id="selectTrade" resultType="com.cqgVipShare.entity.Trade">
 		select * from trade where `show`=1
 		<if test="name!=null">
 		  and name like'%${name}%'
 		</if>
 	</select>
 	<select id="getCcPercentByShrUuid" resultType="java.lang.Float">
 		select DISTINCT r.ccPercent from trade r,merchant m,share_card sc,share_history_record shr where m.tradeId=r.id and sc.shopId=m.id and shr.scId=sc.id and shr.uuid=#{uuid}
 	</select>
 	<select id="getById" resultType="com.cqgVipShare.entity.Trade">
 		select * from trade where id=#{id}
 	</select>
 	<insert id="add" parameterType="com.cqgVipShare.entity.Trade">
 		insert into trade
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="imgUrl!=null">
 				imgUrl,
 			</if>
 			<if test="describe!=null">
 				`describe`,
 			</if>
 			<if test="ccPercent!=null">
 				ccPercent,
 			</if>
 			<if test="sort!=null">
 				sort,
 			</if>
 				`show`
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="imgUrl!=null">
 				#{imgUrl},
 			</if>
 			<if test="describe!=null">
 				#{describe},
 			</if>
 			<if test="ccPercent!=null">
 				#{ccPercent},
 			</if>
 			<if test="sort!=null">
 				#{sort},
 			</if>
 				1
 		</trim>
 	</insert>
	<update id="edit">
		update trade set
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="imgUrl!=null">
				imgUrl=#{imgUrl},
			</if>
			<if test="describe!=null">
				`describe`=#{describe},
			</if>
			<if test="sort!=null">
				sort=#{sort},
			</if>
			<if test="show!=null">
				`show`=#{show},
			</if>
		</trim>
		where id=#{id}
	</update>
 </mapper>