<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgVipShare.dao.UserMapper">
	<insert id="saveUser">
		insert into account_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName!=null">
				userName,
			</if>
			<if test="passWord!=null">
				passWord,
			</if>
			<if test="nickName!=null">
				nickName,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="email!=null">
				email,
			</if>
			gmt_create
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName!=null">
				#{userName},
			</if>
			<if test="passWord!=null">
				#{passWord},
			</if>
			<if test="nickName!=null">
				#{nickName},
			</if>
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="email!=null">
				#{email},
			</if>
			now()
		</trim>
	</insert>
	<update id="updateAccountStatus">
		update account_info set 
		<if test="param2==-2|param2==0">
			accountStatus=1
		</if>
		<if test="param2==1">
			accountStatus=0
		</if>
		where id=${param1}
	</update>
	<select id="getUser" resultType="com.cqgVipShare.entity.User">
		select * from
		user
		where
		<trim prefix="" suffix="" suffixOverrides="and">
			<if test="nickName!=null">
				nickName=#{nickName} and
			</if>
			<if test="phone!=null">
				phone=#{phone} and
			</if>
			<if test="password!=null">
				password=#{password} and
			</if>
		</trim>
	</select>
	<select id="getUserCount"  resultType="int">
		select count(*) from
		account_info
		where
		<trim prefix="" suffix="" suffixOverrides="or">
			<if test="userName!=null">
				userName=#{userName}
			</if>
			<!-- 
			<if test="userName!=null">
				userName=#{userName} or
			</if>
			<if test="nickName!=null">
				nickName=#{nickName} or
			</if>
			<if test="phone!=null">
				phone=#{phone} or
			</if>
			<if test="email!=null">
				email=#{email}
			</if>
			 -->
		</trim>
	</select>
	<select id="queryAccountForInt" resultType="java.lang.Integer">
		select count(*) from account_info
	</select>
	<select id="queryAccountList" resultType="com.cqgVipShare.entity.User">
		select * from account_info limit ${param1},${param2}
	</select>
 	<select id="selectShopCheckForInt" resultType="java.lang.Integer">
 		select count(*) from user where userType=1 and shopCheck='0'
 	</select>
 	<select id="selectShopCheckList" resultType="com.cqgVipShare.entity.User">
 		select * from user where userType=1 and shopCheck='0' limit #{start},#{rows}
 	</select>
	<update id="checkShopById">
		update user set shopCheck='1',userType=2 where id=#{id}
	</update>
 	<select id="getUserInfoByOpenId" resultType="com.cqgVipShare.entity.User">
 		select * from user where openId=#{openId}
 	</select>
 	<select id="getShopInfoById" resultType="com.cqgVipShare.entity.User">
 		select * from user where userType=2 and id=#{shopId}
 	</select>
 	<select id="getShopIdByOpenId" resultType="java.lang.Integer">
 		select id from user where userType=2 and openId=#{openId}
 	</select>
	<update id="updateSumShareByOpenId">
		update user set sumShareCount=sumShareCount+1,sumShareMoney=sumShareMoney+#{shareMoney} where openId=#{openId}
	</update>
 	<select id="getShopFPY" resultType="java.lang.String">
 		select firstPinYin(#{shopName})
 	</select>
	<update id="editMerchant">
		update user set
		<trim suffixOverrides=",">
			<if test="shopName!=null">
				shopName=#{shopName},
			</if>
			<if test="shopAddress!=null">
				shopAddress=#{shopAddress},
			</if>
			<if test="shopFPY!=null">
				shopFPY=#{shopFPY},
			</if>
			<if test="logo!=null">
				logo=#{logo},
			</if>
			<if test="latitude!=null">
				latitude=#{latitude},
			</if>
			<if test="longitude!=null">
				longitude=#{longitude},
			</if>
				shopCheck='0'
		</trim>
		where openId=#{openId}
	</update>
 	<select id="selectHotShopList" resultType="com.cqgVipShare.entity.User">
 		select id,shopName,shopAddress,logo from user where userType=2 and shopCheck=1
 		<if test="tradeId!=null">
 		  and tradeId=#{tradeId}
 		</if>
 		 order by visitCount desc limit 0,12
 	</select>
 	<select id="selectMoreShopList" resultType="com.cqgVipShare.entity.User">
 		select id,shopName,shopAddress,shopFPY,logo from user where userType=2 and shopCheck=1
 		<if test="tradeId!=null">
 		  and tradeId=#{tradeId}
 		</if>
 	</select>
 	<update id="updateWithDrawMoneyByOpenId">
 		update user set withDrawMoney=withDrawMoney+#{withDrawMoney} where openId=#{openId}
 	</update>
	<update id="bindAlipay">
		update user set alipayNo=#{alipayNo},realName=#{realName} where openId=#{openId}
	</update>
</mapper>