<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.VipMapper">
 	<select id="selectTrade" resultType="com.cqgVipShare.entity.Trade">
 		select * from trade where 1=1
 		<if test="name!=null">
 		  and name like'%${name}%'
 		</if>
 	</select>
 	<select id="selectVipList" resultType="com.cqgVipShare.entity.ShareVip">
 		select s.id,s.consumeCount,s.shareMoney,s.describe,m.logo shopLogo,m.shopName from share_vip s left join merchant m on s.shopId=m.id where s.used=0
 		<if test="tradeId!=null">
 		  and m.tradeId=#{tradeId}
 		</if>
 		order by s.createTime desc
 	</select>
 	<select id="selectVipById" resultType="com.cqgVipShare.entity.ShareVip">
 		select * from share_vip where id=#{id}
 	</select>
 	<select id="getShopInfoById" resultType="com.cqgVipShare.entity.User">
 		select * from user where userType=2 and id=#{shopId}
 	</select>
 	<select id="getUserInfoByUnionId" resultType="com.cqgVipShare.entity.User">
 		select * from user where unionId=#{unionId}
 	</select>
 	<select id="getShareRecordByUuid" resultType="com.cqgVipShare.entity.ShareRecord">
 		select * from share_record where uuid=#{uuid}
 	</select>
 	<select id="selectShareListByUserId" resultType="com.cqgVipShare.entity.ShareRecord">
 		select v.`no` vipNo,v.phone kzPhone,r.phone,r.ygxfDate,r.qrcodeUrl from share_record r left join share_vip v on r.vipId=v.id where r.userId=#{userId} 
 	</select>
 	<select id="getUserInfoById" resultType="com.cqgVipShare.entity.User">
 		select * from user where id=#{id}
 	</select>
 	<select id="getReputationByPhone" resultType="java.lang.Integer">
 		select reputation from user where phone=#{phone}
 	</select>
 	<insert id="addShareVip" parameterType="com.cqgVipShare.entity.ShareVip">
 		insert into share_vip
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="no!=null">
 				no,
 			</if>
 			<if test="shopId!=null">
 				shopId,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="consumeCount!=null">
 				consumeCount,
 			</if>
 			<if test="shareMoney!=null">
 				shareMoney,
 			</if>
 			<if test="describe!=null">
 				`describe`,
 			</if>
 				createTime,
 				used
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="no!=null">
 				#{no},
 			</if>
 			<if test="shopId!=null">
 				#{shopId},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="consumeCount!=null">
 				#{consumeCount},
 			</if>
 			<if test="shareMoney!=null">
 				#{shareMoney},
 			</if>
 			<if test="describe!=null">
 				#{describe},
 			</if>
 				now(),
 				0
 		</trim>
 	</insert>
 	<insert id="addShareRecord" parameterType="com.cqgVipShare.entity.ShareRecord">
 		insert into share_record
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="uuid!=null">
 				uuid,
 			</if>
 			<if test="vipId!=null">
 				vipId,
 			</if>
 			<if test="userId!=null">
 				userId,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="ygxfDate!=null">
 				ygxfDate,
 			</if>
 			<if test="qrcodeUrl!=null">
 				qrcodeUrl,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="uuid!=null">
 				#{uuid},
 			</if>
 			<if test="vipId!=null">
 				#{vipId},
 			</if>
 			<if test="userId!=null">
 				#{userId},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="ygxfDate!=null">
 				#{ygxfDate},
 			</if>
 			<if test="qrcodeUrl!=null">
 				#{qrcodeUrl},
 			</if>
 		</trim>
 	</insert>
 	<insert id="addShareHistoryRecord" parameterType="com.cqgVipShare.entity.ShareHistoryRecord">
 		insert into share_history_record
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="vipId!=null">
 				vipId,
 			</if>
 			<if test="userId!=null">
 				userId,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="ygxfDate!=null">
 				ygxfDate,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="vipId!=null">
 				#{vipId},
 			</if>
 			<if test="userId!=null">
 				#{userId},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="ygxfDate!=null">
 				#{ygxfDate},
 			</if>
 		</trim>
 	</insert>
 	<update id="updateVipConsumeCountById">
 		update share_vip set consumeCount=consumeCount-1 where id=#{id}
 	</update>
	<update id="editMerchant">
		update user set
		<trim suffixOverrides=",">
			<if test="shopName!=null">
				shopName=#{shopName},
			</if>
			<if test="shopAddress!=null">
				shopAddress=#{shopAddress},
			</if>
		</trim>
		where unionId=#{unionId}
	</update>
	<delete id="deleteShareRecordByUuid">
		delete from share_record where uuid=#{uuid}
	</delete>
 </mapper>