<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.VipMapper">
 	<select id="selectTrade" resultType="com.cqgVipShare.entity.Trade">
 		select * from trade where 1=1
 		<if test="name!=null">
 		  and name like'%${name}%'
 		</if>
 	</select>
 	<select id="selectVipList" resultType="com.cqgVipShare.entity.ShareVip">
 		select s.id,s.consumeCount,s.shareMoney,s.describe,m.logo shopLogo,m.shopName from share_vip s left join merchant m on s.shopId=m.id where s.used=0
 		<if test="tradeId!=null">
 		  and m.tradeId=#{tradeId}
 		</if>
 		order by s.createTime desc
 	</select>
 	<select id="selectVipById" resultType="com.cqgVipShare.entity.ShareVip">
 		select * from share_vip where id=#{id}
 	</select>
 	<select id="getShopInfoById" resultType="com.cqgVipShare.entity.AccountMsg">
 		select * from merchant where id=#{shopId}
 	</select>
 	<select id="getReputationByPhone" resultType="java.lang.Integer">
 		select reputation from user where phone=#{phone}
 	</select>
 	<insert id="addShareVip" parameterType="com.cqgVipShare.entity.ShareVip">
 		insert into share_vip
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="no!=null">
 				no,
 			</if>
 			<if test="shopId!=null">
 				shopId,
 			</if>
 			<if test="phone!=null">
 				phone,
 			</if>
 			<if test="consumeCount!=null">
 				consumeCount,
 			</if>
 			<if test="shareMoney!=null">
 				shareMoney,
 			</if>
 			<if test="describe!=null">
 				`describe`,
 			</if>
 				createTime,
 				used
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="no!=null">
 				#{no},
 			</if>
 			<if test="shopId!=null">
 				#{shopId},
 			</if>
 			<if test="phone!=null">
 				#{phone},
 			</if>
 			<if test="consumeCount!=null">
 				#{consumeCount},
 			</if>
 			<if test="shareMoney!=null">
 				#{shareMoney},
 			</if>
 			<if test="describe!=null">
 				#{describe},
 			</if>
 				now(),
 				0
 		</trim>
 	</insert>
 </mapper>