<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cqgVipShare.dao.VipMessageMapper">
 	<select id="selectCommentListByOpenId" resultType="com.cqgVipShare.entity.VipMessage">
 		select vm.id,vm.createTime,vm.content,md.logo shopLogo,md.shopName,s.name vipName,shr.shareMoney from vip_message vm,share_history_record shr,share_vip s,merchant md where vm.srUuid=shr.uuid and shr.vipId=s.id and s.shopId=md.id and shr.fxzOpenId=#{fxzOpenId} order by createTime
 	</select>
 	<insert id="addMessage" parameterType="com.cqgVipShare.entity.VipMessage">
 		insert into vip_message
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="srUuid!=null">
 				srUuid,
 			</if>
 			<if test="content!=null">
 				content,
 			</if>
 			<if test="fxzOpenId!=null">
 				fxzOpenId,
 			</if>
 			<if test="type!=null">
 				type,
 			</if>
 				createTime
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="srUuid!=null">
 				#{srUuid},
 			</if>
 			<if test="content!=null">
 				#{content},
 			</if>
 			<if test="fxzOpenId!=null">
 				#{fxzOpenId},
 			</if>
 			<if test="type!=null">
 				#{type},
 			</if>
 				now()
 		</trim>
 	</insert>
 </mapper>